# Ignore Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Environment variables or secrets (if any)
.env